body {
  background-color: red;
}
h1, h2, h3, p, p5 {
	color: green;
}

.serif {
	font-family: "Times New Roman", Times, serif;
}
h1 {
	font-size: 22px;
}
h3, p3 {
  text-align: center;
}
h3, p3 {
	color: grey;
}
h3, p3 {
background-color: white;
	}
  p5 {
    text-align: right;
    }
a:link, visited {
  text-decoration: none;
}
a:hover, active {
  text-decoration: none;
}
div {
border: 1px solid black;
}
